<section id="carousel">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="carousel slide" id="quote-carousel" data-ride="carousel" data-interval="10000">
          <div class="carousel-inner">

            <div class="active item">
              <painel-default tipoFila='preco'></painel-default>
            </div>

            <div class="item">
              <painel-default tipoFila='produto'></painel-default>
            </div>

            <div class="item">
              <painel-default tipoFila='estoque'></painel-default>
            </div>

            <div class="item">
              <painel-default tipoFila='statuspedido'></painel-default>
            </div>

            <div class="item">
              <painel-default tipoFila='integracaovtex'></painel-default>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
