<div class="col-lg-3 col-sm-6" *ngFor="let painel of listaPaineis">

  <div class="card">
    <div class="content">
      <div class="row">
        <div class="col-xs-5">
          <div class="text-center" [ngClass]="{'icon-danger': painel?.Status == 3,
              'icon-warning': painel?.Status == 2,
              'icon-success': painel?.Status == 1}">
            <i class="material-icons md-48">{{ painel?.Status == 1 ? 'sentiment_very_satisfied' : painel?.Status == 2 ? 'sentiment_neutral' : 'sentiment_very_dissatisfied' }}</i>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="numbers">
            <p>Fila de <span style="font-size: 20px">{{ painel?.Fila }}</span></p>
            <p>{{ painel?.Total }} / {{ painel?.TotalDistinto }}</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <hr />
        <div class="stats">
          <i class="ti-time"></i> Mais Recente: {{ painel?.DataUltimoConsumido | date: "dd/MM/yyyy ' às ' HH:mm:ss" }}<br/>
          <i class="ti-time"></i> Mais Antigo: {{ painel?.DataMaisAntigo | date: "dd/MM/yyyy ' às ' HH:mm:ss" }}<br/>
          <i class="ti-reload"></i> Atualizado em {{ painel?.DataConsulta | date: "dd/MM/yyyy ' às ' HH:mm:ss" }}
        </div>
      </div>
    </div>
  </div>

</div>
